Repository halaveika/reactjs-films-homework: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run test, npm run stylelint

.lintstagedrc:

{
  "src/**/*.{js,jsx}": ["npm run eslint","npm run test"],
   "*.scss": "npm run stylelint"
}

feat: add production server
  .eslintcache
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/index.html
  utils/prodServer.js
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

feat: add moviedetailspage, navbar and infobar components
  .eslintrc.json
  package-lock.json
  package.json
  public/images/cover-image.jpg
  public/images/star.svg
  src/components/InfoBar/InfoBar.jsx
  src/components/InfoBar/InfoBar.scss
  src/components/InfoBar/index.js
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/NavBar.scss
  src/components/NavBar/index.js
  src/index.jsx
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieDetailsPage/MovieDetailsPage.scss
  src/pages/MovieDetailsPage/index.js
  src/styles.scss
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add popup to navbar, add props to infobar
  .eslintrc.json
  .lintstagedrc
  package.json
  public/images/film-icon.ico
  src/__tests__/styles.scss
  src/components/Header/Header.jsx
  src/components/Header/Header.scss
  src/components/Header/index.js
  src/components/InfoBar/InfoBar.jsx
  src/components/NavBar/NavBar.jsx
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieDetailsPage/MovieDetailsPage.scss
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add unit tests for header
  config/jest/jest.config.js
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
Due: npm run eslint, npm run test

feat: add unit tests
  config/jest/jest.config.js
  src/__tests__/index.spec.jsx
  src/components/Header/Header.jsx
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
  src/components/InfoBar/__tests__/InfoBar.spec.jsx
  src/components/InfoBar/__tests__/__snapshots__/InfoBar.spec.jsx.snap
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/__tests__/NavBar.spec.jsx
  src/components/NavBar/__tests__/__snapshots__/NavBar.spec.jsx.snap
  src/pages/MovieDetailsPage/__tests__/MovieDetailsPage.spec.jsx
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  src/utils/matchMedia.js
Due: npm run eslint, npm run test

fix: fix prode config webpack
  .lintstagedrc
  config/jest/jest.config.js
  config/webpack/webpack.dev.config.js
  config/webpack/webpack.prod.config.js
  package-lock.json
  package.json
  public/.editorconfig
  public/assets/images/cover-image.jpg
  public/assets/images/film-icon.png
  public/assets/images/star.svg
  public/images/film-icon.ico
  src/components/InfoBar/InfoBar.scss
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  utils/prodServer.js
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add redux, redux-react, add app with header component and containers component
  config/webpack/webpack.dev.config.js
  config/webpack/webpack.prod.config.js
  package-lock.json
  package.json
  src/app.jsx
  src/components/DetailsContainer/DetailsContainer.js
  src/components/DetailsContainer/index.js
  src/components/Header/Header.scss
  src/components/ListContainer/ListContainer.js
  src/components/ListContainer/index.js
  src/index.jsx
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/modules/content/index.js
  src/modules/store.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/index.js
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add redux selecorts, add httpService, add movie item component
  .lintstagedrc
  package.json
  src/app.jsx
  src/components/Header/Header.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/HeaderContainer/index.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItem/MovieItem.scss
  src/components/MovieItem/index.js
  src/constants.js
  src/index.js
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/modules/store.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
  src/styles.scss
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add movieRequest method, add popup watch video
  config/webpack/webpack.dev.config.js
  config/webpack/webpack.prod.config.js
  package-lock.json
  package.json
  src/components/DetailsContainer/DetailsContainer.js
  src/components/Header/Header.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieInfo/MovieInfo.jsx
  src/components/MovieInfo/MovieInfo.scss
  src/components/MovieInfo/index.js
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItem/MovieItem.scss
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/WatchVideoModal.scss
  src/components/WatchVideoModal/index.js
  src/constants.js
  src/index.jsx
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieList/MovieList.jsx
  src/styles.scss
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add unit test of redux store actions, reducers, navbar component
  .lintstagedrc
  config/jest/jest.config.js
  src/__tests__/__snapshots__/app.spec.jsx.snap
  src/__tests__/app.spec.jsx
  src/__tests__/index.spec.jsx
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
  src/components/MovieItem/__tests__/MovieItem.spec.jsx
  src/components/MovieItem/__tests__/__snapshots__/MovieItem.spec.jsx.snap
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/__tests__/NavBar.spec.jsx
  src/components/WatchVideoModal/__tests__/WatchVideoModal.spec.jsx
  src/components/WatchVideoModal/__tests__/__snapshots__/WatchVideoModal.spec.jsx.snap
  src/index.jsx
  src/modules/api/httpService.js
  src/modules/content/__tests__/__snapshots__/contentActions.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentReducer.spec.js.snap
  src/modules/content/__tests__/contentActions.spec.js
  src/modules/content/__tests__/contentReducer.spec.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/index.js
  src/modules/store.js
  src/pages/MovieDetailsPage/__tests__/MovieDetailsPage.spec.jsx
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/pages/MovieList/__tests__/__snapshots__/MovieList.spec.jsx.snap
Due: npm run eslint, npm run test

feat: add unit tests for movieItem, watchVideoModel
  .lintstagedrc
  package.json
  src/__tests__/app.spec.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/__tests__/MovieItem.spec.jsx
  src/components/MovieItem/__tests__/__snapshots__/MovieItem.spec.jsx.snap
  src/components/NavBar/NavBar.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/WatchVideoModal.scss
  src/components/WatchVideoModal/__tests__/WatchVideoModal.spec.jsx
  src/modules/api/__tests__/__snapshots__/httpService.spec.js.snap
  src/modules/api/__tests__/httpService.spec.js
  src/modules/content/__tests__/__snapshots__/contentActions.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentReducer.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentSelectors.spec.js.snap
  src/modules/content/__tests__/contentActions.spec.js
  src/modules/content/__tests__/contentReducer.spec.js
  src/modules/content/__tests__/contentSelectors.spec.js
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/__tests__/MovieDetailsPage.spec.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/utils/__tests__/transformArray.spec.js
  src/utils/transformArray.js
Due: npm run eslint, npm run test, npm run stylelint

feat: add router, connect detailspage to redux store
  .lintstagedrc
  package-lock.json
  package.json
  src/app.jsx
  src/components/AppRouter/AppRouter.jsx
  src/components/AppRouter/index.js
  src/components/DetailsContainer/DetailsContainer.js
  src/components/Header/Header.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/InfoBar/InfoBar.jsx
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/MovieItem.jsx
  src/components/NavBar/NavBar.jsx
  src/index.jsx
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieList/MovieList.jsx
  src/routes/index.js
  utils/server.js
  yarn.lock
Due: npm run eslint, npm run test

feat: add redux-persist
  package-lock.json
  package.json
  src/components/Header/Header.scss
  src/components/InfoBar/InfoBar.jsx
  src/components/MovieItem/MovieItem.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/index.jsx
  src/modules/content/contentSelectors.js
  src/modules/store.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieList/MovieList.jsx
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add isInitsialisated in redux state
  .lintstagedrc
  package-lock.json
  package.json
  src/__tests__/app.spec.jsx
  src/__tests__/index.spec.jsx
  src/components/Header/Header.jsx
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
  src/components/HeaderContainer/HeaderContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/__tests__/MovieItem.spec.jsx
  src/components/MovieItem/__tests__/__snapshots__/MovieItem.spec.jsx.snap
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/index.jsx
  src/modules/content/__tests__/__snapshots__/contentActions.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentReducer.spec.js.snap
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/modules/store.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/utils/__tests__/__snapshots__/loadFromLocalStorage.spec.js.snap
  src/utils/__tests__/loadFromLocalStorage.spec.js
  src/utils/loadFromLocalStorage.js
  src/utils/saveToLocalStorage.js
  yarn.lock
Due: npm run eslint, npm run test

feat: add unit tests
  .eslintrc.json
  package-lock.json
  package.json
  src/__tests__/index.spec.jsx
  src/components/AppRouter/__tests__/AppRouter.spec.jsx
  src/components/AppRouter/__tests__/__snapshots__/AppRouter.spec.jsx.snap
  src/components/Header/Header.jsx
  src/components/Header/Header.scss
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
  src/components/HeaderContainer/HeaderContainer.js
  src/components/InfoBar/__tests__/InfoBar.spec.jsx
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/__tests__/MovieItem.spec.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/index.jsx
  src/modules/api/__tests__/httpService.spec.js
  src/modules/content/__tests__/__snapshots__/contentActions.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentReducer.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentSelectors.spec.js.snap
  src/modules/content/__tests__/contentActions.spec.js
  src/modules/content/__tests__/contentReducer.spec.js
  src/modules/content/__tests__/contentSelectors.spec.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/modules/store.js
  src/pages/MovieDetailsPage/__tests__/MovieDetailsPage.spec.jsx
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/utils/__tests__/loadFromLocalStorage.spec.js
  src/utils/loadFromLocalStorage.js
  src/utils/saveToLocalStorage.js
  yarn.lock
Due: npm run eslint, npm run test, npm run stylelint

feat: add unit-tests for containers
  .lintstagedrc
  config/jest/__mocks__/mockState.js
  src/__tests__/app.spec.jsx
  src/__tests__/index.spec.jsx
  src/components/AppRouter/__tests__/AppRouter.spec.jsx
  src/components/DetailsContainer/DetailsContainer.js
  src/components/DetailsContainer/__tests__/DetailsContainer.spec.js
  src/components/DetailsContainer/__tests__/__snapshots__/DetailsContainer.spec.js.snap
  src/components/HeaderContainer/HeaderContainer.js
  src/components/HeaderContainer/__tests__/HeaderContainer.spec.js
  src/components/HeaderContainer/__tests__/__snapshots__/HeaderContainer.spec.js.snap
  src/components/ListContainer/ListContainer.js
  src/components/ListContainer/__tests__/ListContainer.spec.js
  src/components/ListContainer/__tests__/__snapshots__/ListContainer.spec.js.snap
  src/components/MovieItem/__tests__/MovieItem.spec.jsx
  src/components/NavBar/__tests__/NavBar.spec.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/__tests__/WatchVideoModal.spec.jsx
  src/modules/api/__tests__/__snapshots__/httpService.spec.js.snap
  src/modules/api/__tests__/httpService.spec.js
  src/modules/content/__tests__/__snapshots__/contentSelectors.spec.js.snap
  src/modules/content/__tests__/contentSelectors.spec.js
  src/pages/MovieDetailsPage/__tests__/MovieDetailsPage.spec.jsx
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  src/pages/MovieList/__tests__/MovieList.spec.jsx
Due: npm run eslint, npm run test

feat: add filler component
  .lintstagedrc
  src/components/ColumnsBtn/ColumnsBtn.jsx
  src/components/ColumnsBtn/ColumnsBtn.scss
  src/components/ColumnsBtn/index.js
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.scss
  src/components/Filter/index.js
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/FilterNavBar/FilterNavBar.scss
  src/components/FilterNavBar/index.js
  src/components/RowsBtn/RowsBtn.jsx
  src/components/RowsBtn/RowsBtn.scss
  src/components/RowsBtn/index.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add footer, add btns change state of movieList
  src/components/ColumnsBtn/ColumnsBtn.jsx
  src/components/ColumnsBtn/ColumnsBtn.scss
  src/components/Filter/Filter.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.scss
  src/components/Footer/index.js
  src/components/InfoBar/InfoBar.jsx
  src/components/MovieItem/MovieItem.scss
  src/components/RowsBtn/RowsBtn.jsx
  src/components/RowsBtn/RowsBtn.scss
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add filters
  src/components/DropDown/DropDown.jsx
  src/components/DropDown/DropDown.scss
  src/components/DropDown/index.js
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.scss
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/ListContainer/ListContainer.js
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/pages/MovieList/MovieList.jsx
Due: npm run eslint, npm run test, npm run stylelint

fix: fix filter redirections
  src/components/DropDown/DropDown.jsx
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/Header/Header.jsx
  src/modules/content/contentActions.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

fix: fix style containers elements
  .lintstagedrc
  src/components/Footer/Footer.scss
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
Due: npm run eslint, npm run test, npm run stylelint

fix: fix styles width, fix backdrop image
  src/app.jsx
  src/components/Filter/Filter.scss
  src/components/Header/Header.jsx
  src/components/Header/Header.scss
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieDetailsPage/MovieDetailsPage.scss
  src/pages/MovieList/MovieList.scss
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add state for filters, add item fo no result search, add spinner for loading
  public/.editorconfig
  public/assets/images/not-found.png
  src/components/DropDown/DropDown.jsx
  src/components/Filter/Filter.jsx
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/FilterNavBar/FilterNavBar.scss
  src/components/Header/Header.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItem/MovieItem.scss
  src/components/NavBar/NavBar.scss
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/WatchVideoModal.scss
  src/constants.js
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
  src/styles.scss
  src/utils/itemFilter.js
Due: npm run eslint, npm run test, npm run stylelint

feat: add pagintaion element
  src/components/Filter/Filter.jsx
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/ListContainer/ListContainer.js
  src/modules/api/httpService.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add pagintaion action
  src/components/DetailsContainer/DetailsContainer.js
  src/components/DetailsContainer/__tests__/DetailsContainer.spec.js
  src/components/Filter/Filter.jsx
  src/components/FilterNavBar/FilterNavBar.jsx
  src/components/Header/Header.jsx
  src/components/Header/__tests__/Header.spec.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/HeaderContainer/__tests__/HeaderContainer.spec.js
  src/components/InfoBar/InfoBar.jsx
  src/components/ListContainer/ListContainer.js
  src/components/ListContainer/__tests__/ListContainer.spec.js
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieListContent/MovieListContent.jsx
  src/components/MovieListContent/MovieListContent.scss
  src/components/MovieListContent/index.js
  src/components/NavBar/NavBar.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/constants.js
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieList/MovieList.jsx
  src/utils/transformArray.js
Due: npm run eslint, npm run test, npm run stylelint

feat: add media query for filter-navbar 640px
  .lintstagedrc
  public/assets/images/genres.png
  public/assets/images/laptop.png
  public/assets/images/popularity.png
  public/assets/images/soon.png
  public/assets/images/star.png
  src/components/FilterNavBar/FilterNavBar.scss
  src/components/Header/Header.scss
  src/pages/MovieList/MovieList.scss
  src/styles.scss
Due: npm run stylelint

feat: add style media query for header moviedetailspage
  public/assets/images/genres.png
  public/assets/images/laptop.png
  public/assets/images/popularity.png
  public/assets/images/soon.png
  public/assets/images/star.png
  src/components/DropDown/DropDown.jsx
  src/components/DropDown/DropDown.scss
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.scss
  src/components/Header/Header.scss
  src/components/NavBar/NavBar.scss
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/WatchVideoModal.scss
  src/pages/MovieDetailsPage/MovieDetailsPage.scss
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/MovieList.scss
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

fix: fix styles for dropdown menu
  .lintstagedrc
  src/components/DropDown/DropDown.jsx
  src/components/DropDown/DropDown.scss
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

fix: fix pagination
  src/components/Header/Header.jsx
  src/components/HeaderContainer/HeaderContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieListContent/MovieListContent.jsx
  src/constants.js
  src/modules/content/contentActions.js
  src/modules/content/contentSelectors.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/pages/MovieList/__tests__/__snapshots__/MovieList.spec.jsx.snap
  src/styles.scss
  src/utils/massPagesRequest.js
Due: npm run eslint, npm run test, npm run stylelint

fix: fix watch video modal event handler
  config/jest/__mocks__/mockState.js
  src/components/DetailsContainer/DetailsContainer.js
  src/components/ListContainer/ListContainer.js
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItem/MovieItem.scss
  src/components/MovieListContent/MovieListContent.jsx
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/modules/content/contentActions.js
  src/modules/content/contentReducer.js
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieList/MovieList.jsx
Due: npm run eslint, npm run test, npm run stylelint

feat: unit tests for dropdown watchmodal
  src/components/ColumnsBtn/__test__/ColumnsBtn.spec.jsx
  src/components/ColumnsBtn/__test__/__snapshots__/ColumnsBtn.spec.jsx.snap
  src/components/DetailsContainer/__tests__/__snapshots__/DetailsContainer.spec.js.snap
  src/components/DropDown/DropDown.jsx
  src/components/DropDown/DropDown.scss
  src/components/DropDown/__tests__/DropDown.spec.jsx
  src/components/DropDown/__tests__/__snapshots__/DropDown.spec.jsx.snap
  src/components/GenreMenu/GenreMenu.jsx
  src/components/GenreMenu/GenreMenu.scss
  src/components/GenreMenu/index.js
  src/components/Header/__tests__/Header.spec.jsx
  src/components/ListContainer/__tests__/__snapshots__/ListContainer.spec.js.snap
  src/components/RowsBtn/__test__/RowsBtn.spec.jsx
  src/components/RowsBtn/__test__/__snapshots__/RowsBtn.spec.jsx.snap
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/__tests__/WatchVideoModal.spec.jsx
  src/components/WatchVideoModal/__tests__/__snapshots__/WatchVideoModal.spec.jsx.snap
  src/modules/content/__tests__/__snapshots__/contentActions.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentReducer.spec.js.snap
  src/modules/content/__tests__/__snapshots__/contentSelectors.spec.js.snap
  src/modules/content/__tests__/contentActions.spec.js
  src/modules/content/__tests__/contentReducer.spec.js
  src/modules/content/__tests__/contentSelectors.spec.js
  src/modules/view/__tests__/__snapshots__/viewActions.spec.js.snap
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/utils/massPagesRequest.js
Due: npm run eslint, npm run test, npm run stylelint

fix: fix coverage unit tests for dropdown watchmodal
  src/components/DropDown/DropDown.jsx
  src/components/DropDown/__tests__/DropDown.spec.jsx
  src/components/DropDown/__tests__/__snapshots__/DropDown.spec.jsx.snap
  src/components/Filter/__test__/Filter.spec.jsx
  src/components/Filter/__test__/__snapshots__/Filter.spec.jsx.snap
  src/components/FilterNavBar/FilterNavBar.scss
  src/components/FilterNavBar/__test__/FilterNavBar.spec.jsx
  src/components/FilterNavBar/__test__/__snapshots__/FilterNavBar.spec.jsx.snap
  src/components/Footer/__test__/Footer.spec.jsx
  src/components/Footer/__test__/__snapshots__/Footer.spec.jsx.snap
  src/components/GenreMenu/GenreMenu.jsx
  src/components/GenreMenu/GenreMenu.scss
  src/components/GenreMenu/index.js
  src/components/Header/__tests__/Header.spec.jsx
  src/components/Header/__tests__/__snapshots__/Header.spec.jsx.snap
  src/components/HeaderContainer/__tests__/HeaderContainer.spec.js
  src/components/HeaderContainer/__tests__/__snapshots__/HeaderContainer.spec.js.snap
  src/components/MovieListContent/__tests__/MovieListContent.spec.jsx
  src/components/MovieListContent/__tests__/__snapshots__/MovieListContent.spec.jsx.snap
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/__tests__/WatchVideoModal.spec.jsx
  src/components/WatchVideoModal/__tests__/__snapshots__/WatchVideoModal.spec.jsx.snap
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/styles.scss
Due: npm run eslint, npm run test, npm run stylelint

feat: add movielist unit tests
  config/jest/__mocks__/mockState.js
  src/__tests__/index.spec.jsx
  src/components/DetailsContainer/__tests__/__snapshots__/DetailsContainer.spec.js.snap
  src/components/Filter/__test__/Filter.spec.jsx
  src/components/Filter/__test__/__snapshots__/Filter.spec.jsx.snap
  src/components/FilterNavBar/__test__/FilterNavBar.spec.jsx
  src/components/ListContainer/__tests__/__snapshots__/ListContainer.spec.js.snap
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItem/__tests__/__snapshots__/MovieItem.spec.jsx.snap
  src/components/MovieListContent/__tests__/MovieListContent.spec.jsx
  src/components/MovieListContent/__tests__/__snapshots__/MovieListContent.spec.jsx.snap
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/modules/content/__tests__/__snapshots__/contentSelectors.spec.js.snap
  src/modules/content/__tests__/contentActions.spec.js
  src/modules/content/__tests__/contentSelectors.spec.js
  src/modules/content/contentSelectors.js
  src/pages/MovieDetailsPage/MovieDetailsPage.jsx
  src/pages/MovieDetailsPage/__tests__/__snapshots__/MovieDetailsPage.spec.jsx.snap
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/pages/MovieList/__tests__/__snapshots__/MovieList.spec.jsx.snap
  src/utils/__tests__/loadFromLocalStorage.spec.js
Due: npm run eslint, npm run test

fix: filter-navbar css
  src/components/FilterNavBar/FilterNavBar.scss
Due: npm run stylelint

fix: fix column content list mode
  src/components/ColumnsBtn/ColumnsBtn.jsx
  src/components/ColumnsBtn/ColumnsBtn.scss
  src/components/Filter/Filter.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.scss
  src/components/MovieInfo/MovieInfo.scss
  src/components/MovieItem/MovieItem.jsx
  src/components/MovieItemWide/MovieItemWide.jsx
  src/components/MovieItemWide/MovieItemWide.scss
  src/components/MovieItemWide/index.js
  src/components/MovieListContent/MovieListContent.jsx
  src/components/RowsBtn/RowsBtn.jsx
  src/components/RowsBtn/RowsBtn.scss
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/components/WatchVideoModal/WatchVideoModal.scss
  src/constants.js
  src/modules/content/contentActions.js
  src/pages/MovieList/MovieList.jsx
  src/styles.scss
  src/utils/limitMaxResult.js
Due: npm run eslint, npm run test, npm run stylelint

fix: fix unit tests
  src/components/ColumnsBtn/__test__/ColumnsBtn.spec.jsx
  src/components/ColumnsBtn/__test__/__snapshots__/ColumnsBtn.spec.jsx.snap
  src/components/Filter/__test__/Filter.spec.jsx
  src/components/Filter/__test__/__snapshots__/Filter.spec.jsx.snap
  src/components/Footer/__test__/Footer.spec.jsx
  src/components/Footer/__test__/__snapshots__/Footer.spec.jsx.snap
  src/components/InfoBar/__tests__/__snapshots__/InfoBar.spec.jsx.snap
  src/components/ModalContent/ModalContent.jsx
  src/components/ModalContent/ModalContent.scss
  src/components/ModalContent/__test__/ModalContent.spec.jsx
  src/components/ModalContent/__test__/__snapshots__/ModalContent.spec.jsx.snap
  src/components/ModalContent/index.js
  src/components/MovieItemWide/__tests__/MovieItemWide.spec.jsx
  src/components/MovieItemWide/__tests__/__snapshots__/MovieItemWide.spec.jsx.snap
  src/components/MovieListContent/__tests__/MovieListContent.spec.jsx
  src/components/MovieListContent/__tests__/__snapshots__/MovieListContent.spec.jsx.snap
  src/components/NavBar/__tests__/NavBar.spec.jsx
  src/components/RowsBtn/__test__/RowsBtn.spec.jsx
  src/components/RowsBtn/__test__/__snapshots__/RowsBtn.spec.jsx.snap
  src/components/WatchVideoModal/WatchVideoModal.jsx
  src/modules/view/__tests__/__snapshots__/viewActions.spec.js.snap
  src/modules/view/__tests__/viewActions.spec.js
  src/modules/view/viewActions.js
  src/pages/MovieList/MovieList.jsx
  src/pages/MovieList/__tests__/MovieList.spec.jsx
  src/pages/MovieList/__tests__/__snapshots__/MovieList.spec.jsx.snap
  src/utils/__tests__/__snapshots__/itemFilter.spec.js.snap
  src/utils/__tests__/__snapshots__/limitMaxResult.spec.js.snap
  src/utils/__tests__/__snapshots__/loadFromLocalStorage.spec.js.snap
  src/utils/__tests__/itemFilter.spec.js
  src/utils/__tests__/limitMaxResult.spec.js
  src/utils/__tests__/loadFromLocalStorage.spec.js
Due: npm run eslint, npm run test, npm run stylelint
